body{

	

}
.smallimage{width:200px; height:200px;}
.w3-circle{border-radius: 100px;}

.header{
	background-color: mistyrose;
	height:135px;
	background-image: url("http://icons.iconarchive.com/icons/iconsmind/outline/512/Bone-icon.png");
	background-size: 280px;
	background-repeat: no-repeat;
	background-position: center;


}
h1{
	text-align: center; 
	font-family:"Leckerli One', cursive;";
	font-weight: 200px;
	font-size: 200px;
	font-size: 30pt;

}


.topnav {
    background-color: slategray;
    color: white;
    height: 54px

}

.paw{background-image:url(https://upload.wikimedia.org/wikipedia/commons/1/12/Black_Paw.svg); 
	background-repeat: no-repeat;
	background-size: 650px;
	background-position: right;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 650px;
	height: 650px;
	z-index:999999999;
	opacity: 0.4;


}


